<div class="row">
  <div class="col-md-8">
    <div class="form-group">
      <input
        [(ngModel)]="searchVal"
        type="text"
        class="form-control bg-dark text-white"
      />
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <select
        name=""
        id=""
        [(ngModel)]="selectedKey"
        class="form-control bg-dark text-white"
      >
        <option value="name">Name</option>
        <option value="team">Team</option>
        <option value="odirun">ODI Run</option>
        <option value="testrun">Test Run</option>
        <option value="yeardebut">Debut Year</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <table class="table table-bordered bg-dark text-white">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>Name</th>
          <th>Team</th>
          <th>ODI Run</th>
          <th>Test Run</th>
          <th>Debut Year</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let data of playerArray | filterplayer : selectedKey : searchVal;
            index as i
          "
        >
          <td>{{ i + 1 }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.team }}</td>
          <td>{{ data.odirun }}</td>
          <td>{{ data.testrun }}</td>
          <td>{{ data.yeardebut }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
