<div class="row">
  <div class="col-md-8 offset-md-2">
    <h3 class="mb-1 text-center">Filter Player Information by Search</h3>
    <div class="form-group">
      <input
        (keyup)="onPlayerFilter($event)"
        type="text"
        class="form-control bg-dark text-white"
      />
    </div>
    <table class="table table-bordered bg-dark text-white">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>Name</th>
          <th>Team</th>
          <th>ODI Run</th>
          <th>Test Run</th>
          <th>Debut Year</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let data of playerArray | filterplayer : searchVal;
            index as i
          "
        >
          <td>{{ i + 1 }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.team }}</td>
          <td>{{ data.odirun }}</td>
          <td>{{ data.testrun }}</td>
          <td>{{ data.yeardebut }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
